@import 'variables';



/* General style */

body {
    font-family: 'Poppins';
    margin: 0;

    @media screen and (max-width: 1920px) and (min-width: 1024px) {
        width: 100%;
    }
      
}

main {
    margin: 0;
    width: var(--primary-width);
    position: relative;
}

h2 {
    color: var(--primary-color);
    font-size: var(--primary-size);
    margin: 0;
}

a:hover {
    opacity: 0.75;
}



/* Page styles */

.block1 {

    background-image: url(./images/block1_background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 840px;
    width: var(--primary-width);
    position: absolute;

    .logo {
        width: 580.45px;
        height: 96px;
        margin-left: var(--primary-left-distance);
        position: absolute;

        .logo-pic {
            margin-top: 50px;

            img {
                width: 190.45px;
                height: 128.07px;
            }
        }
        

        .logo-name {
            line-height: 32px;
            margin-left: 210.45px;
            margin-top: -102.07px;

            .logo-small-text {
                font-size: 27px;
                letter-spacing: 9.3px;
                line-height: 61px;
                width: 370px;
            }
        }
    }

    .service {
        width: 880px;
        height: 459px;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        margin-top: 381px;
        border-radius: 0px 30px 0px 0px;
        position: absolute;


        .service-title {
            color: var(--secondary-color);
            height: 86.5px;
            margin-top: 82px;
            margin-bottom: 30px;
        }

        .service-title,
        .service-buttons {
            margin-left: var(--primary-left-distance);
        }

        .service-text {
            width: 375px;
            height: 153px;
            font-size: var(--secondary-size);
            font-weight: 600;
            padding-left: var(--primary-left-distance);
            line-height: 17px;
            margin: 0;
            margin-bottom: 63px;
        }

        .service-buttons {

            

            .service-help,
            .service-about {
                text-align: center;
                font-weight: 600;
                font-size: var(--secondary-size);
                text-decoration: none;

                &:hover{
                    text-decoration: underline;
                }


            }

            .service-help {
                background-color: var(--quaternary-color);
                border: none;
                border-radius: 30px 30px 0px 0px;
                width: 170px;
                height: 60px;
                padding: 21px 45px 22px;
                color: var(--tertiary-color);
            }

            .service-about {
                color: var(--secondary-color);
                width: 130px;
                height: 17px;
                margin-left: 36px;
            }
        }
    }

    .text-block1 {
        width: 622px;
        height: 464px;
        background-color: var(--secondary-color);
        color: var(--tertiary-color);
        border-radius: 30px;
        margin-left: 929px;
        margin-top: 628px;
        position: absolute;
        z-index: 5;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


        .text-block1-title {
            margin-top: 100px;
            padding: 0 142px 0 74px;
            height: 71px;

        }

        .text-block1-text {
            width: 375px;
            height: 153px;
            line-height: 17px;
            padding: 30px 180px 65.5px 74px;
            margin: 0;
            font-weight: 600;
            font-size: var(--secondary-size);
        }

        .text-block1-buttons {
            margin-left: 74px;


            .text-block1-help,
            .text-block1-about {
                text-align: center;
                font-weight: 700;
                font-size: var(--secondary-size);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

            }

            .text-block1-help {
                background-color: var(--primary-color);
                border: none;
                border-radius: 30px 30px 0px 0px;
                width: 170px;
                height: 60px;
                padding: 21px 45px 22px;
                color: var(--secondary-color);
            }

            .text-block1-about {
                color: var(--primary-color);
                width: 130px;
                height: 17px;
                margin-left: 36px;
            }
            
        }
    }
}

.block2 {
    width: var(--primary-width);
    height: 1086px;
    position: absolute;
    margin-top: 840px;

    .block2-title {
        padding: 161px 0 0 var(--primary-left-distance);
        position: absolute;
        z-index: 3;
    }

    .block2-text {
        width: 400px;
        height: 216px;
        font-weight: 600;
        font-size: var(--secondary-size);
        line-height: 18px;
        margin: 265px 0 0 var(--primary-left-distance);
        position: absolute;
        z-index: 2;
        background-color: var(--secondary-color);
        color: var(--tertiary-color);
    }

    .block2-img {
        width: 1200px;
        height: 442px;
        margin-left: var(--primary-left-distance);
        margin-top: 312px;
        background-image: url(./images/Union.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: absolute;
        z-index: 1;
    }

    .block2-family {
        position: absolute;
        width: 622px;
        height: 403px;
        margin: 603px 0 0 var(--secondary-left-distance);
        z-index: 3;
        background-color: var(--secondary-color);
        border-radius: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


        .block2-family-title {
            margin: 50px 50px 30px 50px;
            text-align: center;
            height: 71px;
        }

        .block2-family-description {
            text-align: center;
            margin: 0 50px 46px 50px;
            font-weight: 600;
            font-size: var(--secondary-size);
            line-height: 18px;
        }

        .block2-help {
            background-color: var(--primary-color);
            border: none;
            border-radius: 30px 30px 0px 0px;
            width: 170px;
            height: 60px;
            padding: 21px 45px 22px;
            color: var(--secondary-color);
            text-decoration: none;
            font-weight: 600;
            margin-left: 226px;
        }

        .block2-help:hover {
            text-decoration: underline;
        }
    }
}

.block3 {
    position: absolute;
    width: var(--primary-width);
    height: 221px;
    background-color: var(--primary-color);
    margin-top: 1926px;

    .block3-title {
        color: var(--secondary-color);
        margin-top: 50px;
        margin-left: var(--primary-left-distance);
    }
}

.block4 {
    position: absolute;
    width: var(--primary-width);
    height: 604px;
    margin-top: 2147px;

    .block4-card1,
    .block4-card2,
    .block4-card3 {
        width: 385px;
        height: 504px;
        display: grid;
        border-radius: 30px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        .cards-body {
            height: 214px;
            width: 385px;
            position: absolute;
            margin-top: 290px;
            color: var(--another-color);

            h3 {
                margin: 30px 30px 0;
            }

            p{
                font-size: var(--secondary-size);
                font-weight: 400;
                margin: 10px 30px 30px;
            }

            
        }
    }

    .block4-card1 {
        margin-left: var(--primary-left-distance);
        margin-top: -60px;

        .card1 {
            position: absolute;
            width: 385px;
            height: 290px;
            border-radius: 30px 30px 0px 0px;
        }
    }

    .block4-card2 {
        margin-left: 759px;
        margin-top: -504px;

        .card2 {
            position: absolute;
            width: 385px;
            height: 290px;
            border-radius: 30px 30px 0px 0px;
        }
    }

    .block4-card3 {
        margin-left: 1166px;
        margin-top: -504px;

        .card3 {
            position: absolute;
            width: 385px;
            height: 290px;
            border-radius: 30px 30px 0px 0px;
        }
    }

    .block4-help {
        margin-top: 50px;
        margin-left: 867px;
        background-color: var(--primary-color);
        color: var(--secondary-color);
        width: 80px;
        height: 17px;
        font-size: var(--secondary-size);
        font-weight: 700;
        text-decoration: none;
        position: absolute;
        border-radius: 30px;
        padding: 21px 45px 22px;

        &:hover {
            text-decoration: underline;
        }

    }
}

.block5 {
    position: absolute;
    width: var(--primary-width);
    height: 487px;
    margin-top: 2751px;
    background-color: var(--contact-block-background-color);

    .form-title {
        margin: 50px 781px 50px;
    }

    .contact-block {
        position: absolute;
        max-width: 850px;
        height: 266px;
        margin: 0 557px 50px 558px;

        .contact-form {
            position: absolute;
            width: 374px;
            height: 266px;

            .enterInfo {
                width: 374px;
                height: 56px;
                background: var(--form-background-color);
                border-radius: 61px;
                border: none;
                margin-bottom: 14px;
                
            }

            .contactUs {
                position: absolute;
                width: 168px;
                height: 56px;
                border: 3px solid var(--primary-color);
                border-radius: 61px;
                margin-left: 103px;

                &:hover {
                    opacity: 0.4;
                }
            }
        }

        .contact-info {
            width: 374px;
            height: 132px;
            margin-left: 474px;
            margin-top: 30px;

            .contact-info-icons,
            .contact-info-text {
                display: grid;
                position: absolute;
                color: var(--primary-color);
                margin-top: 0;
                margin-bottom: 30px;
                font-size: var(--secondary-size);

            }

            .contact-info-text {
                margin-left: 44px;
            }

        }

    }
}

.block6 {
    position: absolute;
    width: var(--primary-width);
    height: 145px;
    background-color: var(--footer-background-color);
    margin-top: 3238px;
}







